// FOOTER :: START
footer.footer(js-reveal-footer)
  .container
    .footer__wrapper
      .footer__links
        a(href="#") Terms & Conditions
        a(href="#") Privacy Policy
      
      .footer__bottom
        .footer__copy Copyright © 2001-2017 John Kavanagh.<br> All Rights Reserved.
        .footer__logo
          +icon('ico-logo')
