// HEADER :: START
header.header
  .header__wrapper
    a.header__logo(href="homepage.html")
      +icon('ico-logo')
      span john <br>kavanagh

    .header__hamburger
      button(type="button" js-hamburger).hamburger.hamburger--squeeze
        span.hamburger-box
          span.hamburger-inner

// PAGE-NAV :: START
.page-nav
  .container
    .page-nav__wrapper
      ul.page-nav__menu
        li
          a(href="homepage.html") Home
        li.--h-green
          a(href="portfolio.html") Portfolio
        li.--h-yellow
          a(href="availability.html") availability
        li
          a(href="blog.html") blog
        li.--h-red
          a(href="contact.html") contact
      
      .page-nav__socials
        a(href="#" target="_blank")
          +icon('ico-social-stackoverflow')
        a(href="#" target="_blank")
          +icon('ico-social-fb')
        a(href="#" target="_blank")
          +icon('ico-social-twitter')
        a(href="#" target="_blank")
          +icon('ico-social-gplus')
