// HEADER :: START
header.header
  .container
    .header__wrapper
      a.header__logo(href="#")
        i.icon.icon-logo

      .header__hamburger
        button(type="button" js-hamburger).hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner

// PAGE-NAV :: START
.page-nav
  .container
    .page-nav__wrapper
      ul.page-nav__menu
        li
          a(href="#") Home
        li.--h-green
          a(href="#") Portfolio
        li.--h-yellow
          a(href="#") availability
        li
          a(href="#") blog
        li.--h-red
          a(href="#") contact
      
      .page-nav__socials
        a(href="#" target="_blank")
          +icon('ico-social-stackoverflow')
        a(href="#" target="_blank")
          +icon('ico-social-fb')
        a(href="#" target="_blank")
          +icon('ico-social-twitter')
        a(href="#" target="_blank")
          +icon('ico-social-gplus')
