---
title: About
---
extends shared/_layout
block content
  
  // ABOUT :: START
  .about
    .about__section
      .container
        .about__title about <br> me
        .about__text
          p I'm a freelance front-end web developer based in London. With fourteen years of experience I develop responsive, high-performance websites using HTML5, CSS, and JavaScript.
          p My work is experienced by millions of users worldwide every year and ranges from modest responsive HTML emails and one-page websites right the way up to some of the most-visited websites in the UK.
