---
title: BLOG
---
extends shared/_layout
block content
  
  // PAGE TITLE
  .main-title
    .main-title-parallax.--bg-blue
    .container
      .main-title__name Blog
      .main-title__intro I update my avaialbility below on a weekly basis, so you can see the next opportunity to book me in. 
