---
title: Homepage JK
bodyClass: homepage
---
extends shared/_layout
block content
  // script(type="text/x-handlebars-template")#js-homepage
  // INTRO :: START
  .intro
    // top
    .intro__top.wow
      .intro__name
        .intro__title front <br> end web <br> devEloper
      .intro__portfolio
        img(src="img/featured_project.png" srcset="img/featured_project@2x.png 2x")
        .intro__portfolio-cta
          a(href="#").link.link--green
            span PORTFOLIO
    // bottom
    .intro__bottom.wow
      .intro__text
        .intro__text-parallax(js-rellax data-rellax-speed="-2" data-rellax-percentage="0.5")
        .intro__text-container
          p I'm a freelance front-end web developer based in London. With fourteen years of experience I develop responsive, <br> high-performance websites using HTML5, CSS, and JavaScript.
      .intro__bottom-cta
        a(href="#").link.link--blue
          span About me
  
  // AVAIL :: START
  .avail.wow
    .container
      .avail__title
        .avail__title-parallax(js-rellax data-rellax-speed="1.5")
        span current <br> availability
      .avail__bottom
        .avail__status
          span I currently have
          .avail__status-line.avail__status-line--limited
            span LIMITED
          span availability until Feb 2017.
        .avail__cta
          a(href="#").link.link--yellow
            span availability
              
  // CONTACT :: START
  .contact.wow
    .contact__wrapper
      .contact__title
        .contact__title-parallax(js-rellax data-rellax-speed='2.5')
        span get in <br>touch<br> for a<br> chat
        .contact__cta-desktop
          a(href="#").link.link--red
            span contact
      .contact__credentials
        .contact__credentials-parallax(js-rellax data-rellax-speed="2")
        .contact__credentials-container
          p Feel free to get in touch, I'm always happy to discuss and advise on your project or development needs.
          .contact__credentials-contacts
            a(href="tel:07736 930110").contact__credentials-phone 07736 930110
            a(href="mailto:mail@johnkavanagh.co.uk") mail@johnkavanagh.co.uk
      .contact__cta-mobile
        a(href="#").link.link--red
            span contact

  // HOME LINES :: START
  .home-lines
    .home-lines__wrapper
      picture
        source(media="(max-width: 992px)" srcset="img/heroLinesBg.png 1x, img/heroLinesBg@2x.png 2x")
        source(media="(min-width: 992px)" srcset="img/heroLinesBgDesktop.png 1x, img/heroLinesBgDesktop@2x.png 2x")
        img.home-lines__bg(src="img/heroLinesBg.png")
      //- .home-lines__first
      //- .home-lines__second
      //- .home-lines__third
