---
title: Portfolio APP
---
extends shared/_layout
block content
  
  // PORTFOLIO
  .portfolio
    .container
      .portfolio__wrapper
        // portfolio item
        .portfolio-item
          .portfolio-item__name national broadcaster
          .portfolio-item__short
            p I'm a freelance front-end web developer based in London. With fourteen years of experience.
          .portfolio-item__figure
            .portfolio-item__figure-bg.--bg-blue
