include _mixins
doctype html
html(lang="en")
  head
    include _head

  body(class=bodyClass)
    // MAIN WRAPPER :: START
    .page(class=outClass)
      .page__content
        block header
          include ../components/_header
        // MAIN :: START
        #barba-wrapper
          main.barba-container
            block content
        
      block footer
        include ../components/_footer
      block scripts
        include _scripts
