include _mixins
doctype html
html(lang="en")
  head
    include _head

  body(class=bodyClass)#barba-wrapper
    .page(class=outClass)
      .page__content
        block header
          include ../components/_header
        main.barba-container
          block content

      block footer
        include ../components/_footer
      block scripts
        include _scripts
