/* AVAILABILITY BLOCK
.avail
  position: relative
  margin-top: 80px
  &__title
    position: relative
    z-index: 1
    padding: 1em 40px 1em 0
    font-size: 30px
    line-height: 1.16
    text-transform: uppercase
    font-weight: 500
    letter-spacing: .22em
    text-align: right
    &-parallax
      display: inline-block
      content: ' '
      position: absolute
      top: 0
      bottom: 0
      right: 0
      z-index: 1
      width: 50vw
      max-width: 190px
      background: $colorYellow
    span
      position: relative
      z-index: 2
  &__bottom
    display: flex
    flex-direction: column
    &--bigger
      .avail
        &__status

  &__status
    position: relative
    z-index: 2
    text-align: right
    margin: 30px 0
    > span
      display: inline-block
      font-size: 15px
    &-line
      position: relative
      font-size: 26px
      font-weight: 500
      padding: .1em 0
      margin: 5px 0
      letter-spacing: 0.22em
      &::before
        display: inline-block
        content: ' '
        position: absolute
        width: 12px
        top: 0
        bottom: 0
        right: 0
      &--limited
        &::before
          background-color: $colorYellow
      span
        position: relative
        z-index: 5
        margin-right: -7px
  &__cta
    text-align: center

  &__schedule
    margin-top: 50px
    max-width: 670px
    display: flex
    flex-direction: column


+rmin($mobile)
  .avail
    margin-top: 100px
    &__title
      font-size: 45px
      &-parallax
        max-width: 350px
    &__status
      > span
        font-size: 16px
      &-line
        font-size: 30px

+rmin($desktop)
  .avail
    margin-top: 140px
    &__title
      font-size: 78px
      margin-right: 60px
      &-parallax
        max-width: 470px
    &__bottom
      margin-top: 50px
      padding-right: 60px
      flex-direction: row
      &--bigger
        margin-top: 150px
        flex-direction: row-reverse
        align-items: center
        .avail
          &__status
            > span
              font-size: 24px
            &-line
              font-size: 96px
              &::before
                width: 60px
          &__cta
            margin-right: 50px
            margin-left: auto


    &__status
      margin: 0
      margin-left: auto
      > span
        font-size: 18px
      &-line
        font-size: 38px
    &__cta
      padding-top: 5px
      margin-right: 28%
      margin-left: 15%

    &__schedule
      margin-top: 100px



/* AVAIL PAGE
.availability
  &__title-wrap
    position: relative
    padding-bottom: 5px
    > .container
      position: relative
      z-index: 2

  &__title-parallax
    display: inline-block
    content: ' '
    position: absolute
    left: 0
    top: 0
    bottom: 0
    width: 72vw
    background: $colorYellow

  &__title-after
    position: relative
    z-index: 2

  &__title
    transform: translate3d(0, -.6em, 0)


/* schedule CARD
.schedule-card
  display: flex
  align-items: center
  margin-bottom: 15px
  font-size: 0
  &--disabled
    .schedule-card
      &__month, &__desc
        color: rgba(black, .3)
  &__month
    flex: 0 0 auto
    min-width: 55px
    font-size: 14px
    font-weight: 500
    letter-spacing: 0.22em
    text-transform: uppercase
  &__fill
    position: relative
    z-index: 1
    overflow: hidden
    flex: 1 1 auto
    height: 11px
    background: #f5f5f5
  &__progress
    display: inline-block
    position: absolute
    left: 0
    top: 0
    bottom: 0
    background: $colorYellow
    transition: .25s easeInOutCirc
    transform: translateX(-100%)
  &__desc
    flex: 0 0 auto
    min-width: 100px
    margin-left: auto
    margin-left: 15px
    font-size: 14px
    letter-spacing: 0.04em

/* when shedule card is in viewport
.schedule-card
  &.has-entered
    .schedule-card__progress
      transform: translateX(0)


+rmin($tablet)
  .schedule-card
    // &__

+rmin($desktop)
  .schedule-card
    // &__
    margin-bottom: 30px
    &__month
      font-size: 24px
      min-width: 90px
    &__fill
      height: 14px
    &__desc
      min-width: 145px
      margin-left: 25px
      font-size: 16px
