// INDEX
.link
  position: relative
  display: inline-block
  font-size: 18px
  text-transform: uppercase
  font-weight: 700
  padding-bottom: 13px
  letter-spacing: 0.08em
  &::after
    display: inline-block
    content: ' '
    size: 85px 4px
    position: absolute
    bottom: 0
    left: 50%
    // transform-origin: 50% 100%
    transform: translate(-50%,0)
    transition: .25s $ease
  span
    position: relative
    z-index: 2
  &--green
    &::after
      background-color: $colorGreen
  &--blue
    &::after
      background-color: $colorBlue
  &--yellow
    &::after
      background-color: $colorYellow
  &--red
    &::after
      background-color: $colorRed
  &:hover
    &::after
      transform: translate(-50%,-5px)
      size: 50px 3px
