.ico-logo {
  width: 0.59em;
  height: 1em;
  fill: initial;
}
.ico-social-fb {
  width: 0.48em;
  height: 1em;
  fill: #FFF;
}
.ico-social-gplus {
  width: 1.15em;
  height: 1em;
  fill: #FFF;
}
.ico-social-stackoverflow {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.ico-social-twitter {
  width: 1.11em;
  height: 1em;
  fill: #FFF;
}
